@font-face {
  font-family: 'NotoSansKR';
  font-weight: normal;
  src: url('./fonts/NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'NotoSansKR';
  font-weight: bold;
  src: url('./fonts/NotoSansKR-Bold.otf');
}
